<%= form_with(model: estudante, local: true) do |form| %>
  <% if estudante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudante.errors.count, "error") %> prohibited this estudante from being saved:</h2>

      <ul>
      <% estudante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :estudante_nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :estudante_cpf %>
  </div>

  <div class="field">
    <%= form.label :serie %>
    <%= form.text_field :serie, id: :estudante_serie %>
  </div>

  <div class="field">
    <%= form.label :turma %>
    <%= form.text_field :turma, id: :estudante_turma %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
