<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ano.nome %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @ano.turno %>
</p>

<p>
  <strong>Escola:</strong>
  <%= @ano.escola.nome %>
</p>

<%= link_to 'Edit', edit_ano_path(@ano) %> |
<%= link_to 'Back', anos_path %>
